@import "nullStyle.scss";
@import "variables.scss";

body {
  background: $main-bg-color;
  color: $main-text-color;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1361px;
  margin: 0 auto;

  @include respond-to($LapTop) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-to($mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/////////////////////////HEADER/////////////////////////////////////

.container {
  position: relative;
}

.header {
  &__inner {
    // display: flex;
    position: relative;
  }

  &__logo-wrapper {
    display: flex;
  }

  img {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  &__text {
    flex-grow: 1;
    margin-left: 26%;
    margin-top: 54px;
    color: $secondary-text-color;
  }

  @include respond-to($desktop) {
    &__text {
      margin-top: 50px;
      white-space: nowrap;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
    }
  }

  @include respond-to($s-tablet) {
    &__text {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &__logo-wrapper {
      display: block;
      flex-grow: 1;
    }

    &__inner {
      display: block;
    }
    img {
      margin-bottom: 17px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1361px;
    height: 80px;
    border: 1px solid rgba(226, 226, 226, 1);
    background: $secondary-bg-color;
    border-radius: 1px;
    list-style: none;
    position: relative;
    z-index: 3;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $special-color;
    }
  }

  &__item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50px;
    width: 1px;
    border: 1px solid $line-color;
  }

  &__item:nth-last-child(1)::after {
    display: none;
  }

  &__button {
    display: none;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 52px;
    position: relative;
    z-index: 2;
  }

  &__line {
    background-color: $main-text-color;
    height: 3px;
    width: 40px;
    border-radius: 5px;
  }

  &__close {
    display: none;
  }

  &--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
    // height: 0;
    // overflow: hidden;
  }

  &--close {
    &.menu--open {
      display: block;
    }
  }

  @include respond-to($LapTop) {
    // &__list {
    //   width: 1190px;
    // }
  }

  @include respond-to($l-desktop) {
    // &__list {
    //   width: 982px;
    // }
  }

  @include respond-to($desktop) {
    &__list {
      transform: translateY(-100%);
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      width: 100%;
      height: 386px;
      background-color: $secondary-bg-color;
      color: $main-text-color;
      display: block;
      text-align: center;
      padding-top: 71px;
      padding-bottom: 23px;
      transition: transform 0.5s ease;
    }

    &__list {
      &--open {
        transform: translateY(0%);
      }
    }

    &__item {
      font-size: 18px;
    }

    &__item::after {
      display: none;
    }

    &__hr {
      width: 100%;
      border: 1px solid $line-color;
      margin-top: 22px;
      margin-bottom: 22px;
    }

    &__close {
      display: block;
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__button {
      display: flex;
    }
  }

  @include respond-to($s-tablet) {
    &__line {
      width: 30px;
    }

    &__button {
      position: absolute;
      right: 0;
      top: 25px;
      margin-top: 0;
    }
  }
}

//////////////////////////FOOTER//////////////////////////////////////

.footer {
  background: $secondary-bg-color;
  position: relative;

  .menu__list {
    position: absolute;
    right: 0;
    left: 0;
    top: -40px;
    max-width: 1361px;

    @include respond-to($l-desktop) {
      display: none;
    }
  }

  &__text {
    padding-top: 69px;
    font-size: 14px;
    line-height: 20px;
    color: $third-text-color;
    text-align: justify;

    @include respond-to($l-desktop) {
      & {
        padding-top: 13px;
      }
    }
  }

  &__desc {
    font-size: 14px;
    text-align: end;
    color: $third-text-color;
    padding-bottom: 13px;
  }

  @include respond-to($l-desktop) {
    & {
      padding-bottom: 12px;
    }
  }
}

//////////////////////////MAIN_PAGE//////////////////////////////

.main {
  max-height: 866px;
  position: relative;

  &__container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }

  &__bg {
    margin-top: -40px;
    width: 100%;
    height: auto;
  }

  &__wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    width: 280px;
    height: 217px;
    background: $secondary-bg-color;
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  &__text {
    margin-left: 7px;
    max-width: 172px;
    color: $secondary-text-color;
  }

  &__text-s {
    max-width: 138px;
    margin-left: 7px;
    color: $secondary-text-color;
  }

  &__btn-wrapper {
    margin-top: 32px;
    text-align: center;
  }

  &__btn {
    border: 1px solid $btn-border-color;
    border-radius: 30px;
    padding: 16px 0;
    width: 200px;
    font-size: 16px;
    color: $btn-text-color;
    transition: color 0.3s ease background 0.3s ease;
  }

  &__btn:hover {
    background-color: $btn-text-color;
    color: $secondary-bg-color;
  }

  &__nav-wrapper {
    border-radius: 50px;
    background: $special-color;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
  }

  &__icon:nth-last-child(1) {
    margin-right: 0;
  }

  @include respond-to($desktop) {
    height: auto;

    &__container {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 992px;
    }

    &__bg {
      display: none;
    }

    &__wrapper {
      position: static;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 15px;
    }

    &__block {
      width: 327px;
      height: 222px;
      align-items: start;
    }

    &__content {
      margin-top: 36px;
    }

    &__text {
      line-height: 22px;
      margin-left: 8px;
      max-width: 195px;
    }

    &__text-s {
      line-height: 22px;
      max-width: 154px;
      margin-left: 15px;
    }

    &__img {
      height: 42px;
      margin-top: 5px;
    }

    &__btn-wrapper {
      margin-top: 19px;
    }

    &__btn {
      padding: 18px 0;
      width: 225px;
    }

    &__nav-wrapper {
     display: none;
    }
  }

    @include respond-to($m-tablet) {
      &__container {
          padding-left: 15px;
          padding-right: 15px;
        }
      
        &__wrapper {
          display: block;
          margin-top: 21px;
        }
      
        &__block {
          width: 290px;
          height: 197px;
          margin-bottom: 10px;
          margin-right: auto;
          margin-left: auto;
        }
      
        &__content {
          margin-top: 0;
         padding-top: 35px;
        }
      
        &__text {
          max-width: 172px;
        }
      
        &__text-s {
          max-width: 138px;
        }
      
        &__btn-wrapper {
          margin-top: 12px;
        }
      
        &__btn {
          padding: 16px 0;
          width: 200px;
        }
    }
}
