@import "nullStyle.scss";
@import "variables.scss";

body {
  background: $main-bg-color;
  color: $main-text-color;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1361px;
  margin: 0 auto;

  @include respond-to($LapTop) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include respond-to($mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/////////////////////////HEADER/////////////////////////////////////

.container {
  position: relative;
}

.header {
  &__inner {
    position: relative;
  }

  &__logo-wrapper {
    display: flex;

    img {
      min-width: 184px;
    }
  }

  img {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  &__text {
    flex-grow: 1;
    margin-left: 26%;
    margin-top: 54px;
    color: $secondary-text-color;
  }

  @include respond-to($desktop) {
    &__text {
      margin-top: 50px;
      white-space: nowrap;
      margin-left: 23%;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
    }
  }

  @include respond-to($s-tablet) {
    &__text {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &__logo-wrapper {
      display: block;
      flex-grow: 1;
    }

    &__inner {
      display: block;
    }
    img {
      margin-bottom: 17px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1361px;
    height: 80px;
    border: 1px solid rgba(226, 226, 226, 1);
    background: $secondary-bg-color;
    border-radius: 1px;
    list-style: none;
    position: relative;
    z-index: 100;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-text-color;
    }
  }

  &__link.active {
    color: $secondary-text-color;
    font-weight: bold;
  }

  &__item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50px;
    width: 1px;
    border: 1px solid $line-color;
  }

  &__item:nth-last-child(1)::after {
    display: none;
  }

  &__button {
    display: none;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 52px;
    position: relative;
    z-index: 2;
  }

  &__line {
    background-color: $main-text-color;
    height: 3px;
    width: 40px;
    border-radius: 5px;
  }

  &__close {
    display: none;
  }

  &--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
    // height: 0;
    // overflow: hidden;
  }

  &--close {
    &.menu--open {
      display: block;
    }
  }

  @include respond-to($LapTop) {
    // &__list {
    //   width: 1190px;
    // }
  }

  @include respond-to($l-desktop) {
    // &__list {
    //   width: 982px;
    // }
  }

  @include respond-to($desktop) {
    &__list {
      transform: translateY(-100%);
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      width: 100%;
      height: 386px;
      background-color: $secondary-bg-color;
      color: $main-text-color;
      display: block;
      text-align: center;
      padding-top: 71px;
      padding-bottom: 23px;
      transition: transform 0.5s ease;
    }

    &__list {
      &--open {
        transform: translateY(0%);
      }
    }

    &__item {
      font-size: 18px;
    }

    &__item::after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px solid $line-color;
      margin-top: 22px;
      margin-bottom: 22px;
      position: static;
      height: 0;
      border-top: none;
    }

    // &__hr {
    //   width: 100%;
    //   border: 1px solid $line-color;
    //   margin-top: 22px;
    //   margin-bottom: 22px;
    // }

    &__close {
      display: block;
    }

    &__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__button {
      display: flex;
    }
  }

  @include respond-to($s-tablet) {
    &__line {
      width: 30px;
    }

    &__button {
      position: absolute;
      right: 0;
      top: 25px;
      margin-top: 0;
    }
  }
}

//////////////////////////FOOTER//////////////////////////////////////

.footer {
  background: $secondary-bg-color;
  position: relative;

  .menu__list {
    position: absolute;
    right: 0;
    left: 0;
    top: -40px;
    max-width: 1361px;

    @include respond-to($l-desktop) {
      display: none;
    }
  }

  &__text {
    padding-top: 69px;
    font-size: 14px;
    line-height: 20px;
    color: $third-text-color;
    text-align: justify;

    @include respond-to($l-desktop) {
      & {
        padding-top: 13px;
      }
    }
  }

  &__desc {
    font-size: 14px;
    text-align: end;
    color: $third-text-color;
    padding-bottom: 13px;
  }

  @include respond-to($l-desktop) {
    & {
      padding-bottom: 12px;
    }

    &__desc {
      margin-top: 15px;
    }
  }

  @include respond-to($mobile) {
    &__desc {
      margin-top: 11px;
    }
  }
}

//////////////////////////MAIN_PAGE//////////////////////////////

.main {
  // max-height: 866px;
  // position: relative;

  &__container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1920px;
    // width: 100%;
    position: relative;
  }

  &__bg {
    margin-top: -40px;
    width: 100%;
    // height: auto;
    max-height: 866px;
    // max-width: 1920px;
  }

  

  &__block {
    width: 280px;
    height: 217px;
    background: $secondary-bg-color;
position: absolute;
 top: 40%;
 z-index: 100;
    
    
  }

   &__sec-block {
   right: 0;
   }

  &__content {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  &__text {
    margin-left: 7px;
    max-width: 172px;
    color: $secondary-text-color;
  }

  &__text-s {
    max-width: 138px;
    margin-left: 7px;
    color: $secondary-text-color;
  }

  &__btn-wrapper {
    margin-top: 32px;
    text-align: center;
  }

  &__btn {
    border: 1px solid $btn-border-color;
    border-radius: 30px;
    padding: 16px 0;
    width: 200px;
    font-size: 16px;
    color: $btn-text-color;
    transition: color 0.3s ease background 0.3s ease;
  }

  &__btn:hover {
    background-color: $btn-text-color;
    color: $secondary-bg-color;
  }

  &__nav-wrapper {
    border-radius: 50px;
    background: $special-color;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
  }

  &__icon:nth-last-child(1) {
    margin-right: 0;
  }

    @include respond-to($LapTop) {
      &__container {
          padding-left: 0;
          padding-right: 0;
        }
    }

  @include respond-to($desktop) {
    height: auto;

    &__container {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 992px;
    }

    &__bg {
      display: none;
    }

    &__wrapper {
      position: static;
      display: flex;
      justify-content: center;
      gap: 29px;
      // justify-content: space-evenly;
      align-items: center;
      margin-top: 14px;
    }

    &__block {
      width: 327px;
      height: 222px;
      align-items: start;
      position: static;
      
    }

    &__content {
      margin-top: 36px;
    }

    &__text {
      line-height: 22px;
      margin-left: 11px;
      max-width: 195px;
    }

    &__text-s {
      line-height: 22px;
      max-width: 154px;
      margin-left: 15px;
    }

    &__img {
      height: 42px;
      width: 42px;
      margin-top: 5px;
    }

    &__btn-wrapper {
      margin-top: 19px;
    }

    &__btn {
      padding: 18px 0;
      width: 225px;
    }

    &__nav-wrapper {
      display: none;
    }
  }

  @include respond-to($m-tablet) {
    &__container {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__wrapper {
      display: block;
      margin-top: 21px;
    }

    &__block {
      width: 290px;
      height: 197px;
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: auto;
     
    }

    &__content {
      margin-top: 0;
      padding-top: 35px;
    }

    &__text {
      max-width: 172px;
    }

    &__text-s {
      max-width: 138px;
    }

    &__btn-wrapper {
      margin-top: 12px;
    }

    &__btn {
      padding: 16px 0;
      width: 200px;
    }
  }
}


.wrapper {
  margin-top: -40px;
  // display: grid;
  place-content: center;
  position: relative;
  // margin-right: auto;
  // margin-left: auto;
  overflow: hidden;
  --position: 50%;
 width: 100%;

  @include respond-to($desktop) {
    display: none;
  }
}

.image-container {
width: 100%;
  // max-height: 90vh;
  position: relative;
}

.slider-image {
 width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  filter: grayscale(100%)
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.slider:focus-visible~.slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
}

.nav {
  &__inner {
    margin-top: 74px;
    text-align: center;

    @include respond-to($tablet) {
      margin-top: 55px;
    }
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 28px;
    font-size: 20px;

    @include respond-to($tablet) {
      font-size: 16px;
      margin-top: 10px;
    }

    @include respond-to($mobile) {
      max-width: 250px;
      margin-top: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__blocks-wrapper {
    margin-top: 29px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    align-self: center;
    gap: 17px;

    @include respond-to($tablet) {
      margin-top: 25px;
      gap: 26px 29px;
      margin-right: 13px;
      margin-left: 13px;
    }

    @include respond-to($mobile) {
      gap: 24px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__block {
    max-width: 442px;
    max-height: 386px;
    box-shadow: 0px 4px 4px 0px #0000000d;
    background: $secondary-bg-color;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 41px;

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    @include respond-to($tablet) {
      max-width: 326px;
      max-height: 282px;
      padding-bottom: 29px;
      // margin-right: 0;

      &:nth-last-child(2) {
        margin-left: 0;
      }
    }

    @include respond-to($mobile) {
      // padding-bottom: 26px;
      max-height: 250px;
    }
  }

  &__block-title {
    margin-top: 28px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;

    @include respond-to($tablet) {
      margin-top: 11px;
    }
  }

  &__block-title::after {
    content: "";
    display: block;
    border-top: 1px solid $line-color;
    margin-top: 17px;
    max-width: 355px;
    margin-right: auto;
    margin-left: auto;

    @include respond-to($mobile) {
      margin-top: 10px;
    }
  }

  &__block-text {
    margin-top: 30px;
    max-width: 211px;
    font-size: 16px;
    line-height: 22px;
    color: $secondary-text-color;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 41px;

    @include respond-to($tablet) {
      margin-top: 13px;
      // margin-bottom: 29px;
    }

    @include respond-to($mobile) {
      margin-top: 13px;
      margin-bottom: 14px;
    }
  }

  &__text {
    margin-top: 48px;
    margin-bottom: 105px;
    max-width: 811px;
    font-size: 16px;
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;

    @include respond-to($tablet) {
      margin-top: 24px;
      margin-bottom: 30px;
      max-width: 680px;
    }

    @include respond-to($mobile) {
      margin-top: 30px;
    }
  }
}

//////////////////////////ABOUT_PAGE///////////////////////////////////

.about {
  background: $secondary-bg-color;
  margin-top: -40px;
  padding-top: 75px;
  padding-bottom: 56px;

  &__slogan-block {
    padding-top: 26px;
    padding-bottom: 22px;
    background: $main-bg-color;

    @include respond-to($desktop) {
      padding-top: 28px;
      padding-bottom: 24px;
      padding-right: 5px;
      padding-left: 5px;
    }

    @include respond-to($mobile) {
      padding-top: 17px;
      padding-bottom: 24px;
    }
  }

  &__slogan-text {
    font-size: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @include respond-to($desktop) {
      font-size: 16px;
      line-height: 24px;
    }

    @include respond-to($mobile) {
      max-width: 240px;
    }
  }

  &__content-text {
    margin-top: 37px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: rgba(119, 119, 119, 1);
    margin-right: auto;
    margin-left: auto;

    @include respond-to($LapTop) {
      br {
        display: none;
      }

      line-height: 22px;
    }

    @include respond-to($mobile) {
      margin-top: 30px;
      max-width: 264px;
    }
  }

  &__content-img {
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;

    @include respond-to($desktop) {
      margin-top: 30px;
    }
  }

  &__content-title {
    margin-top: 36px;
    font-size: 20px;
    margin-left: 38px;

    @include respond-to($LapTop) {
      margin-left: 0;
      font-size: 16px;
    }

    @include respond-to($mobile) {
      margin-top: 20px;
      margin-left: 10px;
      line-height: 24px;
    }
  }

  &__list {
    margin-top: 17px;
    margin-left: 50px;
    list-style: disc;

    @include respond-to($LapTop) {
      margin-left: 0;
      margin-top: 13px;
    }

    @include respond-to($mobile) {
      margin-top: 20px;
      max-width: 264px;
    }
  }

  &__item {
    color: rgba(119, 119, 119, 1);
    line-height: 28px;
    margin-left: 5px;

    @include respond-to($LapTop) {
      margin-left: 15px;
    }

    @include respond-to($mobile) {
      margin-left: 15px;
      max-width: 264px;
    }
  }

  &__item::marker {
    font-size: x-small;
    margin-right: -10px;
  }

  @include respond-to($desktop) {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include respond-to($m-tablet) {
    margin-top: 14px;
  }

  @include respond-to($mobile) {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__container {
    @include respond-to($mobile) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.video {
  &__inner {
    margin-top: 44px;
    height: auto;
    text-align: center;
  }

  &__block {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.1%;
    border-radius: 5px;
    border: 1px solid rgba(230, 230, 230, 1);
    background: $secondary-bg-color;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__special-word {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #383838 0%,
      #404040 29%,
      #7e7e7e 67%,
      #eaeaea 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    // text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 4vw;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @include respond-to($m-mobile) {
      font-size: 6vw;
    }
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
}

.advantages {
  &__inner {
    margin-top: 45px;
    padding-top: 55px;
    padding-bottom: 44px;
    padding-left: 40px;
    padding-right: 40px;
    background: $secondary-bg-color;
    border-radius: 1px;
  }

  &__cont {
    margin-left: 9px;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
    margin-top: 17px;
    max-width: 825px;
    position: relative;
  }

  &__cont::after {
    content: "";
    display: block;
    border-top: 1px solid #e2e2e2;
    margin-top: 32px;
  }

  &__wrapper {
    margin-top: 40px;
    margin-left: 9px;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    padding-right: 20px;
  }

  &__block:nth-last-child(1) {
    padding-right: 0;
  }

  &__block-title {
    font-size: 16px;
    line-height: 24px;
  }

  &__list {
    margin-top: 17px;
  }

  &__item {
    color: rgba(119, 119, 119, 1);
    font-size: 16px;
    line-height: 28px;
    list-style: disc;
    max-width: 618px;
  }

  @include respond-to($desktop) {
    &__inner {
      margin-top: 26px;
      padding-top: 35px;
      padding-bottom: 31px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__cont {
      margin-left: 0;
    }

    &__text {
      margin-top: 21px;
    }

    &__cont::after {
      margin-top: 18px;
    }

    &__wrapper {
      margin-top: 25px;
      margin-left: 0;
    }

    &__block {
      margin-right: 20px;
      padding-right: 0;
    }

    &__block:nth-last-child(1) {
      margin-right: 0;
      margin-left: 10px;
    }

    &__block-title {
      font-size: 16px;
    }

    &__list {
      margin-top: 7px;
    }

    &__item {
      margin-left: 10px;
    }
  }

  @include respond-to($s-tablet) {
    &__inner {
      margin-top: 30px;
      padding-bottom: 24px;
      padding-left: 13px;
      padding-right: 13px;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__text {
      font-size: 15px;
      line-height: 22px;
      margin-top: 16px;
      max-width: 825px;
    }

    &__cont::after {
      margin-top: 31px;
    }

    &__wrapper {
      margin-top: 30px;
      display: block;
    }

    &__block {
      padding-right: 0;
      margin-right: 0;
    }

    &__block:nth-last-child(1) {
      margin-left: 0;
      margin-top: 20px;
    }

    &__list {
      margin-top: 4px;
    }

    &__item {
      max-width: 264px;
      margin-left: 11px;
    }

    &__item::marker {
      font-size: x-small;
    }
  }

  @include respond-to($mobile) {
    &__inner {
      margin-top: 45px;
    }
  }
}

.features {
  &__inner {
    margin-top: 63px;

    @include respond-to($tablet) {
      margin-top: 50px;
    }

    @include respond-to($mobile) {
      margin-top: 58px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;

    @include respond-to($tablet) {
      gap: 30px 0;
    }

    @include respond-to($s-tablet) {
      grid-template-columns: repeat(1, 1fr);
      gap: 45px 0;
    }
  }

  &__item {
    display: flex;
    align-items: start;

    @include respond-to($mobile) {
      display: block;
    }
  }

  &__text {
    max-width: 532px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;

    @include respond-to($tablet) {
      margin-left: 14px;
      max-width: 295px;
    }

    @include respond-to($s-tablet) {
      max-width: 500px;
    }

    @include respond-to($mobile) {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}

.decision {
  &__inner {
    margin-top: 46px;
    margin-bottom: 101px;
  }

  &__img-block {
    position: absolute;
    z-index: 1;
  }

  &__block {
    position: relative;
    border: 1px solid rgba(230, 230, 230, 1);
    background: $secondary-bg-color;
    border-radius: 5px;
    height: 180px;
  }

  &__text {
    position: absolute;
    // right: 32px;
    left: 38%;
    top: 34px;
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
    max-width: 807px;
  }

  &__btn-wrapper {
    position: absolute;
    z-index: 2;
    top: 98px;
    left: 38%;
    text-align: center;
  }

  &__btn {
    border: 1px solid $btn-border-color;
    border-radius: 30px;
    padding: 16px 0;
    width: 230px;
    font-size: 16px;
    color: $btn-text-color;
    transition: color 0.3s ease background 0.3s ease;
  }

  &__btn:hover {
    background-color: $btn-text-color;
    color: $secondary-bg-color;
  }

  @include respond-to($LapTop) {
    &__block {
      height: 391px;
    }

    &__text {
      padding-right: 12px;
      left: 2%;
      top: 200px;
      max-width: 100%;
    }

    &__btn-wrapper {
      top: 300px;
      left: 2%;
    }

    &__inner {
      margin-bottom: 35px;
    }
  }

  @include respond-to($m-tablet) {
    &__block {
      height: 374px;
    }

    &__text {
      padding-right: 12px;
      left: 2%;
      // top: 50%;
      bottom: 111px;
      max-width: 100%;
    }

    &__btn-wrapper {
      top: 287px;
      left: 2%;
    }
  }

  @include respond-to($s-tablet) {
    &__block {
      height: 374px;
    }

    &__text {
      padding-right: 12px;
      left: 2%;
      top: 45%;

      max-width: 100%;
    }

    &__btn-wrapper {
      top: 287px;
      left: 2%;
    }
  }

  @include respond-to($m-mobile) {
    &__text {
      left: 4%;
      top: 35%;
    }

    &__btn-wrapper {
      top: 290px;
      left: 10%;
    }
  }

  @include respond-to($mobile) {
    &__text {
      left: 4%;
      top: 26%;
    }

    &__btn-wrapper {
      top: 290px;
      left: 10%;
    }
  }
}

////////////////////////STORES_PAGE////////////////////////////////

.store-nav {
  background: $secondary-bg-color;
  margin-top: -40px;
  padding-top: 90px;
  padding-bottom: 46px;

  &__title {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    align-self: center;
    gap: 60px 10px;
    margin-top: 35px;
  }

  &__block {
    border: 1px solid rgba(230, 230, 230, 1);
    background: $secondary-bg-color;
    max-width: 332px;
    max-height: 369px;
    border-radius: 5px;
    padding-bottom: 29px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__block-title {
    margin-top: 28px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
  }

  &__block-title::after {
    content: "";
    display: block;
    border-top: 1px solid #e2e2e2;
    margin-top: 17px;
    max-width: 268px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
  }

  &__block-text {
    margin-top: 25px;
    max-width: 260px;
    font-size: 16px;
    line-height: 22px;
    margin-right: auto;
    margin-left: auto;
  }

  &__text {
    max-width: 295px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  a {
    color: rgba(51, 122, 183, 1);
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: rgb(0, 54, 101);
  }

  &__block-text-s {
    max-width: 140px;
  }

  @include respond-to($desktop) {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 23px;

    img {
      width: 100%;
    }

    &__title {
      display: none;
    }

    &__list {
      margin-top: 0;
      gap: 58px 30px;
    }

    &__block {
      max-width: 339px;
      height: 351px;
      padding-bottom: 27px;
    }

    &__block-title {
      margin-top: 13px;
    }

    &__block-title::after {
      margin-top: 11px;
    }

    &__block-text {
      margin-top: 25px;
      max-width: 309px;
    }

    &__text {
      max-width: 295px;
      margin-top: 10px;
    }

    &__block-text-s {
      margin-top: 40px;
    }
  }

  @include respond-to($tablet) {
    &__block {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @include respond-to($tablet) {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  @include respond-to($l-tablet) {
    &__block {
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include respond-to($mobile) {
    padding-top: 30px;
    padding-bottom: 28px;
    margin-top: 15px;

    &__block {
      max-width: 290px;
      height: 300px;
      padding-bottom: 23px;
    }

    &__block-title {
      margin-top: 9px;
    }

    &__block-title::after {
      margin-top: 9px;
    }

    &__block-text {
      margin-top: 20px;
      max-width: 264px;
    }

    &__text {
      max-width: 290px;
      margin-top: 10px;
    }

    &__block-text-s {
      margin-top: 20px;
      max-width: 140px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 25px;
    }
  }
}

.tehcenter {
  &__inner {
    margin-top: 85px;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
  }

  &__block {
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__block-title-wrapper {
    display: flex;
    align-items: center;
  }

  &__block-title {
    font-size: 18px;
    line-height: 26px;
    margin-left: 7px;
  }

  &__block-wrapper {
    width: 660px;
    background: $secondary-bg-color;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
    // padding-left: 19px;
    // padding-right: 28px;
    margin-top: 19px;
  }

  &__item {
    position: relative;
  }

  &__item::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e2e2e2;
    bottom: 0;
    max-width: 100%;
  }

  &__address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 99px;
    padding-left: 19px;
    padding-right: 28px;
  }

  &__address-wrapper {
    display: flex;
    align-items: center;
  }

  &__address {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  &__address::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 1px;
    border: 1px solid #e2e2e2;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
    margin-top: 5px;
  }

  &__tel {
    font-size: 18px;
    line-height: 25px;
  }

  // &__btn-wrapper {
  //   text-align: center;
  // }

  &__btn {
    border: 1px solid $btn-border-color;
    border-radius: 30px;
    padding: 16px 0;
    width: 145px;
    font-size: 16px;
    color: $btn-text-color;
    transition: color 0.3s ease background 0.3s ease;
  }

  &__btn:hover {
    background-color: $btn-text-color;
    color: $secondary-bg-color;
  }

  @include respond-to($LapTop) {
    &__inner {
      margin-top: 90px;
    }
    &__block {
      display: block;
      margin-top: 30px;
    }

    &__block-wrapper {
      width: 100%;
      margin-bottom: 56px;
    }

    &__btn {
      width: 156px;
    }
  }

    @include respond-to($tablet) {
&__inner {
    margin-top: 64px;
  }
    }

  @include respond-to($s-tablet) {

    &__address-container {
      display: block;
      height: 153px;
    }

    &__btn {
      width: 145px;
      margin-top: 20px;
    }

    &__address-wrapper {
      padding-top: 20px;
    }
  }

  @include respond-to($m-mobile) {
    &__inner {
      margin-top: 40px;
    }

    &__block-wrapper {
      margin-top: 8px;
    }

    &__block {
      margin-top: 40px;
    }

    &__adspes {
      display: block;

      padding-right: 0;
      padding-right: 0;
    }

    &__address-container {
      padding-left: 13px;
      padding-right: 2px;
    }

    &__title {
      text-align: center;
    }

    &__acs {
      height: 137px;
    }

    &__adcs {
      height: 188px;
    }
  }
}

.videogit {
  &__inner {
    margin-top: 97px;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(426px, 1fr));
    gap: 51px 41px;
  }

  &__address {
    font-size: 16px;
    line-height: 22px;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 7px;
  }

  &__block {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 62.25%;
    border-radius: 5px;
    border: 1px solid rgba(230, 230, 230, 1);
    background: $secondary-bg-color;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  @include respond-to($desktop) {
    &__inner {
      margin-top: 57px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 30px;
      text-align: center;
      justify-content: center;
      margin-top: 28px;
    }

    &__img {
      max-width: 171px;
      max-height: 174px;
    }

    &__play {
      width: 54px;
      height: 37px;
    }

    &__block {
      margin-right: auto;
      margin-left: auto;
    }
  }

  @include respond-to($s-tablet) {
    &__inner {
      text-align: center;
    }

    &__title {
      max-width: 190px;
      margin-right: auto;
      margin-left: auto;
    }

    &__play {
      width: 46px;
      height: 31px;
    }

    &__img {
      max-width: 146px;
      max-height: 149px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 20px;
    }
  }
}

.form {
  &__inner {
    margin-top: 106px;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 540px;
      object-position: center;
      display: block;
      border-radius: 5px;
      margin: 0 auto;
    }
  }

  &__block-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 75px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
  }

  &__text {
    font-weight: 700;
    font-size: 40px;
    max-width: 650px;
    line-height: 56px;
    color: $secondary-bg-color;
    margin-bottom: 90px;
  }

  &__block {
    width: 393px;
    padding-top: 33px;
    padding-bottom: 31px;
    padding-left: 22px;
    padding-right: 22px;
    background: $secondary-bg-color;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &__block-title {
    font-size: 18px;
    line-height: 21px;
  }

  &__block-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e2e2e2;
    bottom: 0;
    max-width: 100%;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  &__label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;

    span {
      color: rgba(223, 9, 24, 1);
    }
  }

  &__input {
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 20px;
    color: $main-text-color;
  }

  &__input:focus {
    border: 1px solid rgba(230, 230, 230, 0.273);
  }

  &__btn {
    width: 100%;
    // padding: 17px 45px;
    padding-top: 17px;
    padding-bottom: 17px;
    background: rgba(39, 174, 96, 1);
    border-radius: 3px;
    color: $secondary-bg-color;
    font-size: 18px;
    text-align: center;
    transition: background 0.3s ease-in-out;
  }

  &__btn:hover {
    background: rgba(46, 191, 107, 1);
  }

  @include respond-to($l-desktop) {
    &__inner {
      margin-top: 52px;
    }

    &__block-wrapper {
      display: block;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      margin-right: 0;
      margin-left: 0;
      max-width: 100%;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
      max-width: 434px;
      margin-top: -7px;
      margin-bottom: 31px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    &__block {
      width: 264px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 18px;
      margin-right: auto;
      margin-left: auto;
    }

    &__block-title {
      font-size: 16px;
      line-height: 18px;
      text-align: center;

      margin-inline-end: auto;
      margin-left: auto;
    }

    &__block-title::after {
      margin-top: 13px;
      margin-bottom: 13px;
    }

    &__input {
      padding: 12px 8px;
      margin-bottom: 10px;
    }

    &__label {
      margin-bottom: 4px;
    }

    &__btn {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    background-color: $secondary-bg-color;
    max-width: 393px;
    max-height: 429px;
    margin: 15% auto;
    padding: 21px 26px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &__close {
    float: right;
  }

  &__close:hover {
    fill: black;
    text-decoration: none;
    cursor: pointer;
  }

  &__tip {
    margin-top: 8px;
    margin-left: 35%;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 317px;
    margin-top: 18px;
    color: $btn-text-color;
  }

  &__text {
    margin-top: 52px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(130, 130, 130, 1);
    position: relative;
  }

  &__text::after {
    content: "";
    display: block;
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
    margin-bottom: 22px;
    max-width: 100%;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }

  @include respond-to($l-mobile) {
    &__content {
      margin-right: 15px;
      margin-left: 15px;
    }

    &__tip {
      margin-top: 7px;
      width: 60px;
      height: 60px;
    }

    &__text {
      margin-top: 12px;
    }

    &__text::after {
      margin-top: 11px;
      margin-bottom: 27px;
    }
  }
}

.assortment {
  &__inner {
    margin-top: 90px;
    margin-bottom: 120px;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
  }

  &__wrapper {
    background: $secondary-bg-color;
    width: 100%;
    margin-top: 18px;
    padding: 38px 40px 44px 40px;
    border-radius: 5px;
  }

  &__block::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e2e2e2;
    bottom: 0;
    max-width: 100%;
    margin-bottom: 43px;
  }

  &__block-title {
    font-size: 16px;
    line-height: 26px;
  }

  &__list {
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px 7px;
  }

  &__item {
    font-size: 16px;
    line-height: 28px;
    color: rgba(119, 119, 119, 1);
    margin-left: 9px;

    li {
      list-style: disc;
      //  margin-left: 19px;
    }

    ::marker {
      font-size: smaller;
    }
  }

  &__text {
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 47px;

    a {
      color: rgba(51, 122, 183, 1);
    }

    a:hover {
      color: rgb(11, 71, 124);
    }
  }

  &__con-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 10px;
  }

  &__hen-text {
    margin-top: 25px;
  }

  &__con-text {
    margin-top: 26px;
    padding-bottom: 0;
  }

  @include respond-to($tablet) {
    &__inner {
      margin-top: 62px;
    }

    &__title {
      display: none;
    }

    &__wrapper {
      margin-top: 0;
      padding: 22px 15px 33px 15px;
    }

    &__list {
      margin-top: 0;
    }

    .assortment__text {
      margin-top: 43px;
      padding-bottom: 40px;
    }

    &__block::after {
      margin-bottom: 35px;
    }
  }

  @include respond-to($mobile) {
    &__item {
      max-width: 198px;
    }

    &__wrapper {
      margin-top: 0;
      padding: 24px 13px 37px 13px;
    }
  }
}

////////////////////////SOLUTION_PAGE////////////////////////////////

.solution {
  background: $secondary-bg-color;
  margin-top: -40px;

  @include respond-to($desktop) {
    margin-top: 29px;

    &__title {
      padding-top: 27px;
    }

    &__list {
      margin-top: 30px;
    }
  }

  @include respond-to($mobile) {
    margin-top: 16px;

    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__title {
      text-align: center;
      max-width: 231px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 37px;
    }

    &__list {
      order: 2;
      margin-top: -25px;
      gap: 32px 19px;
    }

    &__img-wrapper {
      order: 1;
      margin-top: 75px;
    }

    &__text {
      margin-top: 9px;
      max-width: 290px;
    }
  }

  &__title {
    padding-top: 114px;
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    align-self: center;
    gap: 34px 19px;
    text-align: center;

    img {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__list {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 34px 5px;
    margin-top: 45px;
  }

  &__sec-list {
    @include respond-to($tablet) {
      margin-top: 16px;
    }

    @include respond-to($mobile) {
      margin-top: -4px;
      margin-bottom: 80px;
    }
  }

  &__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    max-width: 219px;
    color: rgba(102, 102, 102, 1);
    margin-left: auto;
    margin-right: auto;
  }

  &__img-wrapper {
    max-width: 1359px;
    margin-right: auto;
    margin-left: auto;
  }

  &__img {
    margin-top: -11px;
    margin-right: auto;
    margin-left: auto;
  }

  &__sec-title {
    margin-top: -85px;
    padding-top: 0;

    @include respond-to($tablet) {
      margin-top: -30px;
    }

    @include respond-to($mobile) {
      margin-top: 53px;
      padding-top: 0;
    }
  }

  &__sec-img {
    margin-top: -35px;
    margin-bottom: 40px;

    @include respond-to($tablet) {
      margin-top: -11px;
      margin-bottom: 59px;
    }

    @include respond-to($mobile) {
      margin-top: -65px;
      margin-bottom: 0;
    }
  }
}

////////////////////////CONTACTS_PAGE////////////////////////////////

.contacts {
  background: $secondary-bg-color;
  margin-top: -40px;
  padding-top: 95px;
  padding-bottom: 65px;
  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    gap: 58px;
  }

  &__info {
    margin-top: 25px;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
  }

  &__list {
    margin-top: 36px;
  }

  &__item {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 37px;

    span {
      color: rgba(153, 153, 153, 1);
    }
  }

  &__link {
    color: rgba(51, 122, 183, 1);
    transition: color 0.3s ease-in-out;
  }

  &__link:hover {
    color: rgb(15, 51, 83);
  }

  &__viber {
    color: rgba(121, 80, 154, 1);
    transition: color 0.3s ease-in-out;
  }

  &__viber:hover {
    color: rgb(51, 26, 72);
  }

  &__map {
    text-align: center;
    max-width: 1000px;
    height: 570px;
    flex-grow: 1;
  }

  iframe,
  object,
  embed {
    width: 100%;
    height: 100%;
    border: none;
  }

  @include respond-to($desktop) {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    &__wrapper {
      display: block;
      padding-right: 0;
      padding-left: 0;
    }

    &__info {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 37px;
      margin-top: 31px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 42px 35px;
      margin-top: 27px;
    }

    &__item {
      margin-bottom: 0;
    }

    &__map {
      margin-top: 50px;
    }
  }

  @include respond-to($mobile) {
    &__wrapper {
      padding-right: 0;
      padding-left: 0;
    }

    &__info {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 17px;
    }

    &__list {
      gap: 31px 35px;
      margin-top: 37px;
    }

    &__map {
      margin-top: 40px;
      padding-bottom: 23px;
      margin-bottom: 45px;
    }
  }
}
