$main-bg-color: rgba(248, 249, 250, 1);
$secondary-bg-color: rgba(255, 255, 255, 1);
$main-text-color: rgba(51, 51, 51, 1);
$secondary-text-color: rgba(102, 102, 102, 1);
$line-color: rgba(226, 226, 226, 1);
$special-color: rgba(255, 0, 0, 1);
$third-text-color: rgba(153, 153, 153, 1);

$mobile: 376px;
$s-tablet: 695px;
$tablet: 768px;
$desktop: 992px;
$l-desktop: 1200px;
$LapTop: 1440px;


@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}